.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #606454;
    display: flex;
    justify-content: right;
    padding-top: 0px;
    margin-top: 0;
    height: 100px;
}

.search {
    margin-right: 50px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px; /* same softness as buttons */
    background-color: #E4E3E2;
    overflow: hidden;
    height: 40px;
    margin-top: 30px;
}

/* Input */
.search input {
    background-color: #E4E3E2;
    border: none;
    outline: none;
    padding: 12px 18px;
    width: 260px;
    font-size: 15px;
    color:rgb(121, 97, 66);
    font-family: inherit;
}

/* Placeholder */
.search input::placeholder {
    color: rgb(121, 97, 66);
    opacity: 0.8;
}

/* Button */
.search button {
    background-color: transparent;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    color: #E4E3E2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover */
/* .search button:hover {
    background-color: #E4E3E2;
    border: #606454;
    color: #606454;
} */

.search fa-icon {
    color: rgb(121, 97, 66);
    font-size: 16px;
}
/* Focus effect (very classy) */
.search:focus-within {
    border-color: rgb(121, 97, 66);
}
.plus{
    height: 2px;
    background-color: #D0CCC1;
    margin: 0;        /* IMPORTANT */
    padding: 0;

}
